@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.blurCalendar {
  height: 475px;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.dashboard-line-chart {
  width: 100%;
  height: 340px;
  margin-top: -10px;
}
